<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Мой Магазин{% endblock %}</title>
  <style>
body {
  font-family: Arial;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
</style>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'catalog:home' %}"><b>ГЛАВНАЯ</b></a> | 
      <a href="{% url 'catalog:category_list' %}">Категории</a>
    </nav>
    <hr>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <hr>
    <small>© 2026 ENU College • Django Shop</small>
  </footer>
</body>
</html>

{% if user.is_authenticated %}
    Привет, {{ user.username }} |
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
    <a href="{% url 'my_orders' %}">Мои заказы</a>
{% else %}
    <a href="{% url 'login' %}">Войти</a> |
    <a href="{% url 'register' %}">Регистрация</a>
{% endif %}

