<h1>{{ product.name }}</h1>

<p>Цена: {{ product.price }}</p>

{% if product.old_price %}
    <p>Старая цена: {{ product.old_price }}</p>
{% endif %}

<p>{{ product.description }}</p>

{% if product.image %}
    <img src="{{ product.image.url }}" width="300">
{% endif %}

{% if product.image2 %}
    <img src="{{ product.image2.url }}" width="300">
{% endif %}

<br><br>
{% if product.stock > 0 %}
    <form action="{% url 'catalog:add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Добавить в корзину</button>
    </form>
{% else %}
    <span>Нет в наличии</span>
{% endif %}

<h2>Другие товары категории</h2>
<ul>
  {% for p in products %}
    <li>
      <a href="{% url 'catalog:product_detail' p.slug %}">{{ p.name }}</a> — {{ p.price }} тг
      {% if p.stock > 0 %} ✅ В наличии {% else %} ❌ Нет в наличии {% endif %}
    </li>
  {% empty %}
    <li>Нет других товаров в этой категории.</li>
  {% endfor %}
</ul> 

<a href="/">← Назад</a>